
#durianId {
    position: relative;
    width:10vh;
    transition: all 0.5s;
}
#durianId.shrink{width:5vw;opacity: 0;}
@keyframes durianFrames{
    0%{rotate:0}
    25%{rotate:90deg}
    50%{rotate:180deg}
    100%{rotate:270deg}
}
#durianId.anim1{
    animation: durianFrames 1s;
}
#stopBtn{
    width:100px;
    background:red;
    transition: width 2s, background 3s; 
    position: relative}
#stopBtn.newState{width:200px;background:green}
#stopBtn.anim1{animation: durianFrames 1s}

body{
    background-color: rgb(255, 255, 111);
    text-align: center;
}
@media (min-width:768px){
   body{
    background-color:rgb(0, 255, 255);
  }

}
@media (min-width:1280px){
  body{
    background-color:rgb(255, 0, 0);
  }
}

